{% extends "base.html" %}
<!-- {% load bootstrap4 %} -->
<!-- {% block title %}Edit{% endblock title %}
{% block content %} -->
<h2>Transfer</h2>

<form action="/initiatetransfer" method="post" >
    {% csrf_token %}
    <!-- {% bootstrap_form form %} -->
    <!-- {% buttons %} -->

    <p><Label>Transaction Type</Label>
    <select name="transaction_type">
        <option value="TRANSFER">TRANSFER</option>
      </select>
    </p>

    <p><Label>Transfer To</Label>
        <select name="benificiary">
            {% for user in users %}
            <option value={{user}}>{{user}}</option>
            {% endfor %}
          
        </select>
    </p>

    <p><Label>Transfer amount</Label>
    <input type="text"  name="transaction_amount">
    </p>

    <p><Label>Transfer description</Label>
    <input type="text"  name="transaction_description">
    </p>
    
    <p><button type="submit" class="btn btn-primary">Submit</button>
    </p>
    
    <!-- {% endbuttons %} -->
</form>

{% endblock content %}